@import "var";

html {
  height: 100%;
}

body {
  height: fit-content;
  background-color: $default-body-background-color;
  margin: 0;

  .loadingSpinner {
    display: block;
    margin: auto;
    padding: 150px;
  }

  .jumbotron {
    background-color: $default-header-background-colour;
    border-radius: 0px;
    margin-bottom: 0px;

    .row {
      text-align: center;
      .heading {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        color: $default-header-colour;
        margin: auto;
      }

      .searchBar {
        width: 40%;
        height: 45px;
        margin: auto;
        margin-top: 55px;
        margin-bottom: 55px;
        input {
          width: calc(100% - 46px);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: none;
          padding: 10px;
        }
        .searchButton {
          width: 46px;
          background-color: $default-button-background-colour;
          color: $default-header-colour;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: $default-button-hover-background-colour
          }
        }
      }

      .challengeText {
        margin: auto;
        font-size: 24px;
        color: $default-header-colour;
      }

      .welcomeText {
        margin: auto;
        color: $default-header-colour;
      }
    }
  }

  .filterBar {
    height: 45px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: $default-filterBar-background-color;

    .filterLink {
      height: 100%;
      color: #000000;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      line-height: 42px;
      transition: 0.1s ease-in-out;
      margin: 0px 15px 0px 15px;

      &:first-child {
        margin-left: 37.5px;
      }

      &:hover {
        color: orange;
        border-bottom: 5px solid orange;
      }

      &.active {
        color: orange;
        border-bottom: 5px solid orange;
        pointer-events: none;
      }
    }
  }

  .navbar {
    background-color: #acacac;
    padding: 0;
    align-items: unset;
    justify-content: unset;
    .navbarButton {
      width: 5%;
      cursor: pointer;
      text-align: center;
      color: $default-header-colour;
      height: 100%;
      padding: 12px;
      &:hover {
        background-color: #9b9b9b;
      }

      a {
        text-decoration: none;
        color: $default-header-colour;
      }
    }
  }

  .nameBar {
    background-color: $default-body-background-color;
    text-align: center;
  }

  .imageContainer {
    margin: 35px;

    // img {
    //   width: 405px;
    //   vertical-align: middle;
    //   border-style: none;
    //   margin: 25px;
    // }

    // .imageInfo {
    //   padding-top: 25px;
    // }
  }

  .imageWrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 25px;
    display: inline-grid;
    &:hover .imageDescription {
      opacity: 1;
      visibility: visible;
    }
    .image {
      opacity: 1;
      vertical-align: middle;
      width: 405px;
      border-style: none;
      margin: 0px;
    }

    .imageDescription {
      width: 405px;
      height: 100%;
      background-color: #bbbbbb96;
      cursor: pointer;
      padding: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      margin: 0px;
      transition: opacity .2s, visibility .2s;
      display: table-column;
      overflow-y: auto;

      .imageTitle {
        display: table-cell;
        vertical-align: top;
        font-weight: 600;
      }

      .imageCaption {
        display: table-cell;
        vertical-align: middle;
      }

      .imageDate {
        display: table-cell;
        vertical-align: bottom;
      }
    }
  }

  .mat-tab-group {
    height: 100;
  }

  .mat-tab-label {
    user-select: none;
  }

  .paginationRow {
    width: 50%;
    justify-content: space-between;
    margin: auto
  }

  footer {
    bottom: 0;
    width: 100%;
    background-color: #acacac;
    color: $default-header-colour;
    text-align: center;
    padding: 15px;
  }

  .grid-item {
    width: fit-content;
  }
}

@media (max-width: 400px) {
  body {
    .imageContainer {
      img {
        width: 95px;
      }
    }
  }
}
