$default-header-background-colour: #2990c2 !default;
$default-header-colour: #f0ffff !default;

$default-body-background-color: #efefef !default;

$default-filterBar-background-color: #f0ffff !default;

$default-button-background-colour: #7fbedd !default;
$default-button-hover-background-colour: #61b0d8 !default;
