<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <div class="row center-block">
    <span class="heading">{{ 'genesisImagesTitle' | translate }}</span>
  </div>
  <div class="row text-center">
    <div class="row searchBar">
      <input type="text" placeholder="{{ 'searchPlaceholder' | translate }}" onfocus="this.placeholder=''" #searchInput >
      <div class="searchButton" (click)="search(searchInput.value)">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="challengeText">{{ 'pageDescription' | translate }}</span>
  </div>
  <div class="row">
    <span class="welcomeText">{{ 'pageWelcome' | translate }}</span>
  </div>
</div>
<router-outlet></router-outlet>
<footer>{{ 'copyright' | translate }}</footer>
