<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <div class="row center-block">
    <span class="heading">Genesis Images</span>
  </div>
  <div class="row text-center">
    <div class="row searchBar">
      <input type="text" placeholder="What are you looking for?" onfocus="this.placeholder=''" onblur="this.placeholder='What are you looking for?'">
      <div class="searchButton">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="challengeText">Challenge FrontEnd - Angular and Getty Images API</span>
  </div>
  <div class="row">
    <span class="welcomeText">Everything you need for your creative projects, websites, banners, presentations, magazines and advertising</span>
  </div>
</div>
<div class="filterBar row">
  <a class="filterLink" (click)="sortBy ($event, 0)">Most Popular</a>
  <a class="filterLink" (click)="sortBy ($event, 1)">Newest</a>
  <a class="filterLink" (click)="sortBy ($event, 2)">Best Match</a>
</div>

<app-best-images></app-best-images>
<!-- <router-outlet></router-outlet> -->
